@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Prompt', sans-serif;
    touch-action: manipulation;
}

body {
    background-color: rgb(255, 255, 255);
}



